#container{
    width: 1000px;
    margin: 0 auto;
}

div{
    padding: 20px;
    border: 1px solid gray;
}

#header {
    padding: 20px;
    border: 1px solid gray;
    margin-bottom: 20px;
}

#left-sidebar{
    width: 150px;
    float: left;
    margin-right: 20px;
}

#contents {
    width: 535px;
    float: left;
    margin-bottom: 20px;
}

#right-sidebar{
    width: 150px;
    float: right;
}

#footer{
    padding: 20px;
    border: 1px solid gray;
    clear: both;
}